{% extends "base.html" %}

{% block content %}
<h2>Dashboard</h2>

<h3>Log Files</h3>
<ul>
    {% for log_file in log_files %}
    <li>
        <a href="{% url 'view_log_file' log_file %}" target="_blank">{{ log_file }}</a>
        <a href="{% url 'download_log_file' log_file %}" class="btn download-btn">Download</a>
    </li>
    {% endfor %}
</ul>

<h3>Chat Records (JSON Files)</h3>
<ul>
    {% for json_file in json_files %}
    <li>
        <a href="{% url 'view_json_file' json_file %}" target="_blank">{{ json_file }}</a>
        <a href="{% url 'download_json_file' json_file %}" class="btn download-btn">Download</a>
    </li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="logout-button">Log Out</a>
    <a href="{% url 'profile' %}" class="btn">Go to Profile</a>
{% endif %}


{% endblock %}
